@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-off: hsla(179, 62%, 43%, 0.6);
  --bright-yellow: hsl(71, 73%, 54%);
  --pale-yellow: hsla(71, 73%, 54%, 0.8);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --off-white: hsl(0, 0%, 98%);
  --shadow: 1px 1px 16px 8px hsla(0, 0%, 0%, 0.1);
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: initial;
  font-size: initial;
  background-color: var(--grayish-blue);
}

.container {
  width: 100%;
  min-height: calc(100vh - 72px);
  padding: 56px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 300px;
  max-width: 420px;
  box-shadow: var(--shadow);
}

.community {
  padding: 26px 24px 30px 24px;
  border-radius: 4px 4px 0 0;
  background-color: var(--off-white);

  .highlight, .description {
    margin-top: 24px;
  }
}

.subscription {
  padding: 26px 24px 30px 24px;
  background-color: var(--cyan);

  .pricing {
    margin-top: 16px;
  }

  .pale-yellow-button {
    margin-top: 28px;
  }
}

.why-us {
  padding: 20px 24px 20px 24px;
  border-radius: 0 0 4px 4px;
  background-color: var(--cyan-off);

  h2 {
    margin-bottom: 16px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.title-accent {
  color: var(--cyan);
}

.title-off {
  font-size: 18px;
  color: var(--off-white);
}

.highlight {
  font-size: 15px;
  font-weight: 700;
  color: var(--bright-yellow);
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: -0.01ch;
}

.description-plain {
  font-size: 14px;
  color: var(--grayish-blue);
}

.description-light {
  color: var(--light-gray);
}

.description-lightest {
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-gray);
  opacity: 0.8;
}

.pricing {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-gray);
  display: flex;
  align-items: center;
  gap: 16px;

  b {
    font-size: 32px;
    font-weight: 700;
    color: var(--off-white);
  }

  span {
    opacity: 0.6;
  }
}

.pale-yellow-button {
  max-width: 300px;
  width: 100%;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: var(--bright-yellow);
  color: var(--light-gray);
  box-shadow: var(--shadow);

  &:hover, &:focus {
    background-color: var(--pale-yellow);
    cursor: pointer;
  }
}

.attribution {
  padding: 12px 36px;
  margin: 0 auto;
  text-align: center;

  p {
    color: var(--off-white);
  }
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 636px;
    max-height: 480px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .community {
    grid-area: 1 / 1 / 1 / -1;
    padding: 40px;
    border-radius: 8px 8px 0 0;

    .description {
      margin-top: 10px;
    }
  }
  
  .subscription, .why-us {
    padding: 36px;
  }

  .subscription {
    border-radius: 0 0 0 8px;
  }

  .why-us {
    border-radius: 0 0 8px 0;
  }

  .title {
    font-size: 24px;
  }

  .title-off {
    font-size: 18px;
  }

  .highlight {
    font-size: 18px;
  }

  .description {
    font-size: 16px;
    letter-spacing: 0ch;
    line-height: 1.8;
  }

  .description-lightest {
    line-height: 1.35;
  }
}